/* .main-screen {
  padding: 50px;
  background-color: #eee;
  height: 50vh;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
} */
.main-screen {
  padding: 20px;
  width: 100vw;
  border: "solid";
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.submit-btn {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
